<div
  class="blanco container text-center mx-auto"
  *ngIf="this.loginSrv.isAuthenticated(); else anom"
>
  <h1>Ola {{ usuario.usuNom }} {{ usuario.usuApe1 }} {{ usuario.usuApe2 }}</h1>
  <h2>Benvid@ a APP de Xestión de REDEOZA:</h2>
  <p class="mt-2 text-center">Podes facer as seguintes accións dentro:</p>
</div>

<ng-template #anom>
  <div class="blanco container text-center mx-auto">
    <h1>Benvid@ a APP de Xestión de REDEOZA:</h1>
    <p class="mt-2 text-center">Podese facer as seguintes accións dentro:</p>
    <em>A TER EN CONTA: Deberá ter unha conta de usuario/a para acceder.</em>
  </div>
</ng-template>

<div class="row">
  <div *ngFor="let bg of blogue" class="col-lg-4 col-md-4">
    <h4 [innerHTML]="bg.title"></h4>
    <figure [innerHTML]="bg.field_imaxe"></figure>
    <p [innerHTML]="bg.body"></p>
  </div>
</div>
