<div class="card container bg-light text-dark">
  <div class="card-header text-dark">{{ createTitle }}</div>

  <div class="card-body">
    <form class="row" #socForm="ngForm">
      <div class="col-lg-6 col-md-6">
        <div class="form-group row">
          <label for="socNom" class="col-form-label col-sm-3">NOME *</label>
          <div class="col-sm-9">
            <input id="socNom" class="form-control" name="socNom" placeholder="Ex: Ana"  type="text" [(ngModel)]="socio.socNom" minlength="3" maxlength="45" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" #socNom="ngModel" />
            <div class="alert alert-danger" *ngIf="socNom.invalid && (socNom.dirty || socNom.touched)">
              <div *ngIf="socNom?.errors.required">Non se olvide de cubrilo nome do/a socio/a</div>
              <div *ngIf="socNom?.errors.pattern">O nome soamente pode levar carácteres, no caso de número, cubra co 'i' mayus. Ex: III (3)</div>
              <div *ngIf="socNom?.errors.minlength || socNom?.errors.maxlength">O nome debe estar entre 3 e 45</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="socApe1" class="col-form-label col-sm-3">1º APEL *</label>
          <div class="col-sm-9">
            <input id="socApe1" class="form-control" placeholder="Ex: Rodríguez" name="socApe1" type="text" [(ngModel)]="socio.socApe1" minlength="3" maxlength="45" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" #socApe1="ngModel" />
            <div class="alert alert-danger" *ngIf="socApe1.invalid && (socApe1.dirty || socApe1.touched)">
              <div *ngIf="socApe1?.errors.required">Non se olvide de cubrilo 1º apelido do/a socio/a</div>
              <div *ngIf="socApe1?.errors.pattern">O 1º apelido soamente pode levar carácteres, no caso de número, cubra co i mayus. Ex: III (3)</div>
              <div *ngIf="socApe1?.errors.minlength || socApe1?.errors.maxlength">O 1º apelido debe estar entre 3 e 45</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="socApe2" class="col-form-label col-sm-3">2º APEL *</label>
          <div class="col-sm-9">
            <input id="socApe2" class="form-control" name="socApe2" type="text" placeholder="Ex: Rodríguez" [(ngModel)]="socio.socApe2" minlength="3" maxlength="45" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+" #socApe2="ngModel" />
            <div class="alert alert-danger" *ngIf="socApe2.invalid && (socApe2.dirty || socApe2.touched)">
              <div *ngIf="socApe2?.errors.required">Non se olvide de cubrilo 2º apelido do/a socio/a</div>
              <div *ngIf="socApe2?.errors.pattern">O 2º apelido soamente pode levar carácteres, no caso de número, cubra co i mayus. Ex: III (3)</div>
              <div *ngIf="socApe2?.errors.minlength || socApe2?.errors.maxlength">O 2º apelido debe estar entre 3 e 45</div>
            </div>
          </div>
        </div>

        <div class="form-group row hidden">
          <label for="socNomComp" class="col-form-label col-sm-3">NOME COMPLETO *</label>
          <div class="col-sm-9">
            <input readonly id="socNomComp" class="form-control" name="socNomComp" type="text" placeholder="Ex: AaaBbbCcc" [(ngModel)]="socio.socNomComp" minlength="9" maxlength="255" required pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ,\s]+" #socNomComp="ngModel" />
          </div>
        </div>

        <div class="form-group row">
          <label for="socEnder" class="col-form-label col-sm-3">ENDER *</label>
          <div class="col-sm-9">
            <input id="socEnder" class="form-control" name="socEnder" placeholder="Ex: R. ALGO, 1 1L" type="text" [(ngModel)]="socio.socEnder" minlength="10" maxlength="150" required #socEnder="ngModel" />
            <div class="alert alert-danger" *ngIf="socEnder.invalid && (socEnder.dirty || socEnder.touched)">
              <div *ngIf="socEnder?.errors.required">Non se olvide de cubrilo o enderezo do/a socio/a</div>
              <div *ngIf="socEnder?.errors.minlength || socEnder?.errors.maxlength">O Enderezo debe estar entre 10 e 150</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="socPob" class="col-form-label col-sm-3">POBOACIÓN *</label>
          <div class="col-sm-9">
            <input id="socPob" class="form-control" name="socPob" placeholder="Ex: R. ALGO, 1 1L" type="text" [(ngModel)]="socio.socPob" minlength="5" maxlength="75" required #socPob="ngModel" />
            <div class="alert alert-danger" *ngIf="socPob.invalid && (socPob.dirty || socPob.touched)">
              <div *ngIf="socPob?.errors.required">Non se olvide de cubrila poboación do/a socio/a</div>
              <div *ngIf="socPob?.errors.minlength || socPob?.errors.maxlength">A poboación debe estar entre 5 e 75</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="socCP" class="col-form-label col-sm-3">COD. POSTAL</label>
          <div class="col-sm-9">
            <input id="socCP" class="form-control" name="socCP" type="number" placeholder="Ex: 15009" [(ngModel)]="socio.socCP" min="15000" max="15999" maxlength="5" minlength="5" #socCP="ngModel" />
            <div class="alert alert-danger" *ngIf="socCP.invalid && (socCP.dirty || socCP.touched)">
              <div *ngIf="socCP?.errors.min || socCP?.errors.max">Recorde entre 15000 e 15999</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="col-lg-12 col-md-12">
          <p><em>RECORDA:<b> A lo menos, temos que ter rexistrado 1 tfno. de contacto</b></em></p>
        </div>
        <div class="form-group row">
          <label for="socTfnoFx" class="col-form-label col-sm-3">FIXO</label>
          <div class="col-sm-9">
            <input id="socTfnoFx" class="form-control" name="socTfnoFx" type="text" placeholder="Ex: 900000000" [(ngModel)]="socio.socTfnoFx" maxlength="9" minlength="9" pattern="^[8|9]{1}[\d]{8}$" #socTfnoFx="ngModel" />
            <div class="alert alert-danger" *ngIf="socTfnoFx.invalid && (socTfnoFx.dirty || socTfnoFx.touched)">
              <div *ngIf="socTfnoFx?.errors.pattern">Patrón non recoñecido para un fixo</div>
              <div *ngIf="socTfnoFx?.errors.minlength || socTfnoFx?.errors.maxlength">Recorde entre 880000000 e 989999999</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="socTfnoMb" class="col-form-label col-sm-3">MÓBIL</label>
          <div class="col-sm-9">
            <input id="socTfnoMb" class="form-control" name="socTfnoMb" type="text" placeholder="Ex: 655000500" [(ngModel)]="socio.socTfnoMb" maxlength="9" minlength="9" pattern="^[6|7]{1}[\d]{8}$" #socTfnoMb="ngModel" />
            <div class="alert alert-danger" *ngIf="socTfnoMb.invalid && (socTfnoMb.dirty || socTfnoMb.touched)">
              <div *ngIf="socTfnoMb?.errors.pattern">Patrón non recoñecido para un móbil</div>
              <div *ngIf="socTfnoMb?.errors.minlength || socTfnoMb?.errors.maxlength">Recorde entre 600000000 e 699999999</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="socEmail" class="col-form-label col-sm-3">EMAIL</label>
          <div class="col-sm-9">
            <input id="socEmail" [socWithID]="socio.socID" class="form-control" existsEmail name="socEmail" placeholder="Ex: algo@algo.com" type="text" [(ngModel)]="socio.socEmail" minlength="20" maxlength="75" #socEmail="ngModel" />
            <div class="alert alert-danger" *ngIf="socEmail.invalid && (socEmail.dirty || socEmail.touched) || socEmail.existsEmail">
              <div *ngIf="socEmail?.errors.minlength || socEmail?.errors.maxlength">O Email debe ter polo menos 20 caracteres ate os 75 coma max.</div>
              <div *ngIf="socEmail?.errors.existsEmail">ERROR: Xa temos rexistrado este email. Terá que ser diferente.</div>
              {{ socEmail?.errors.existsEmail }}
            </div>
          </div>
        </div>

        <label for="socDataAlta" class="col-form-label col-sm-3">DATA ALTA</label>
          <div *ngIf="(socio.socDataAlta | date: 'dd/M/yyyy') === (dateValue | date: 'dd/M/yyyy') else hasDateRegister">
            <em><b>Data da alta non atopada e non se pode establecer</b></em>
          </div>
          <ng-template #hasDateRegister>
            <mat-form-field class="example-full-width">
                <input matInput [min]="minDate" [max]="maxDate" [value]="socio.socDataAlta" [matDatepicker]="pickerAlta" [(ngModel)]="socio.socDataAlta" name="socDataAlta" disabled>
                <mat-datepicker-toggle matSuffix [for]="pickerAlta"></mat-datepicker-toggle>
                <mat-datepicker #pickerAlta></mat-datepicker>
            </mat-form-field>
          </ng-template>
        <br/>
        <label for="socDataBaixa" class="col-form-label col-sm-3">DATA BAIXA</label>
        <mat-form-field class="example-full-width">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerBaixa" [value]="socio.socDataBaixa" [(ngModel)]="socio.socDataBaixa" name="socDataBaixa" placeholder="Escolla data">
          <mat-datepicker-toggle matSuffix [for]="pickerBaixa"></mat-datepicker-toggle>
          <mat-datepicker #pickerBaixa></mat-datepicker>
        </mat-form-field>

        <div class="form-group row">
          <em class="text-info">Pode engadir as actividades as que se pode apuntar [permite escoller varias]</em>
          <label for="actividades" class="col-form-label col-sm-3">ACTIVIDADES</label>
          <div class="col-lg-12 col-sm-12">
            <ng-select [(ngModel)]="socio.actividades" [multiple]="true" placerholder="escolla actividades" name="actividadesSelected">
              <ng-option type="checkbox" *ngFor="let act of actividades" [value]="act">
                {{ act.actNom }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>

      <div class="form-group row text-right">
        <button class="btn btn-sm btn-primary mr-3" role="button" [routerLink]="['/socios/paxina/0']">VOLTAR</button>
        <button class="btn btn-sm btn-primary" role="button" (click)="create()" *ngIf="!socio.socID else elseBlock" [disabled]="!socForm.form.valid">CREAR</button>
        <ng-template #elseBlock>
          <button class="btn btn-sm btn-primary" role="button" (click)="update()" [disabled]="!socForm.form.valid">EDITAR</button>
        </ng-template>
      </div>
      <pre class="col-lg-12 col-sm-12"><code>{{ getAllErrors(socForm.form) | json }}</code></pre>
    </form>
  </div>
</div>
