<mat-card>
  <mat-card-title>Login ou Entrar</mat-card-title>
  <mat-card-content>
    <form method="POST">

      <mat-form-field>
        <mat-label for="usuAlias" class="col-form-label">ALIAS</mat-label>
        <input type="text" matInput name="usuAlias" placeholder="Ex: nomapeape" [(ngModel)]="login.usuAlias" required minlength="9" maxlength="9" pattern="[a-zA-Z]{9}" #usuAlias="ngModel">
        <mat-error class="alert alert-danger" *ngIf="usuAlias.invalid && (usuAlias.dirty || usuAlias.touched)">
          <mat-error *ngIf="usuAlias?.errors.required">Alias é requerido e non pode estar baleiro</mat-error>
          <mat-error *ngIf="usuAlias?.errors.pattern">Alias non cumple os requirementos [9 letras]</mat-error>
        </mat-error>
      </mat-form-field>

      <br/><br/>

      <mat-form-field appearance="fill">
        <mat-label for="usuClave" class="col-form-label">CLAVE</mat-label>
        <input [type]="hide ? 'password': 'text'" required type="text" matInput name="usuClave" placeholder="Ex: nomapeape" [(ngModel)]="login.usuClave" minlength="5" maxlength="50" #usuClave="ngModel">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error class="alert alert-danger" *ngIf="usuClave.invalid && (usuClave.dirty || usuClave.touched)">
          <mat-error *ngIf="usuClave?.errors.required">A contrasinal é requerido e non pode estar baleira</mat-error>
        </mat-error>
      </mat-form-field>


      <br/><br/>

      <div class="form-group text-center">
        <button (click)="logon()" type="submit" class="btn btn-md btn-primary mt-6" value="logon">Acceso</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
