@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/material.theme.css";

body.navbar-is-fixed-top {
  padding-top: 120px !important;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100%;
}

@media only screen and (max-device-width: 1366px) {
  body {
    background-attachment: scroll;
  }
}
