<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" [routerLink]="['/inicio']">
      <img
        class="rounded"
        src="assets/img/redeozalogo.jpg"
        alt="Xestión REDEOZA - Anonim@"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            *ngIf="loginSrv.login.permisos.includes('TODOS_PERMISOS')"
            [routerLink]="['/usuarios/paxina/0']"
            >USUARIOS/AS<span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item active">
          <a
            class="nav-link"
            *ngIf="loginSrv.login.permisos.includes('TODOS_PERMISOS')"
            [routerLink]="['/actividades/paxina/0']"
            >ACTIVIDADES<span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item active">
          <a
            class="nav-link"
            *ngIf="loginSrv.login.permisos.includes('TODOS_PERMISOS')"
            [routerLink]="['/roles/listado']"
            >ROLES<span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item active">
          <a
            class="nav-link"
            *ngIf="loginSrv.login.permisos.includes('TODOS_PERMISOS')"
            [routerLink]="['/socios/paxina/0']"
            >SOCIOS/AS<span class="sr-only">(current)</span></a
          >
        </li>
      </ul>

      <ul class="navbar-nav navbar-right">
        <li *ngIf="loginSrv.isAuthenticated()" class="nav-item">
          <button (click)="logout()" class="btn btn-sm btn-light" type="submit">
            <img
              src="assets/icons/account-logout.svg"
              alt="sair do aplicativo"
            />
          </button>
        </li>
        <li *ngIf="!loginSrv.isAuthenticated()" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">
            <img
              class="account-login"
              src="assets/icons/account-login.svg"
              alt="Xestión REDEOZA - Anonim@"
            />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
